<template>
<q-pull-to-refresh :handler="refresher">
  <h2>a few facts ...</h2>

    <q-carousel infinite autoplay dots @slide="changeBackground">
    <div slot="slide">
     <q-card class="shadow-15 bg-white" >
       <div class="row items-center justify-around">
         <div class="col">
            <img :src="country[0].flag" alt="flag">
         </div>
         <div class="col ellipsis">
            <h6>{{ country[0].name }}</h6>
         </div>
       </div>
        <q-card-main>
          <div class="row items-start justify-around">
            <div class="col">
              <p>Capital : {{ country[0].capital}}</p>
              <p>Area: {{ country[0].area }} km &sup2;</p>
            </div>
            <div class="col">
              <p><q-icon name="people"/> {{country[0].population}}</p>
              <p>Currencies: {{ country[0].currencies[0].name }}</p>
            </div>
          </div>
          <div id='map0'></div>
        </q-card-main>
      </q-card>
    </div>
    <div slot="slide" >
           <q-card  class="shadow-15 bg-white">
       <div class="row items-center justify-around">
         <div class="col">
            <img :src="country[1].flag">
         </div>
         <div class="col">
            <h6>{{ country[1].name }}</h6>
         </div>
       </div>
        <q-card-main>
          <div class="row items-start justify-around">
            <div class="col">
              <p>Capital : {{ country[1].capital}}</p>
              <p>Area: {{ country[1].area }} km &sup2;</p>
            </div>
            <div class="col">
              <p><q-icon name="people"/> {{country[1].population}}</p>
              <p>Currencies: {{ country[1].currencies[0].name }}</p>
            </div>
          </div>
          <div id='map1'></div>
        </q-card-main>
      </q-card>
    </div>
    <div slot="slide" >
           <q-card  class="shadow-15 bg-white">
       <div class="row items-center justify-around">
         <div class="col">
            <img :src="country[2].flag">
         </div>
         <div class="col">
            <h6>{{ country[2].name }}</h6>
         </div>
       </div>
        <q-card-main>
          <div class="row items-start justify-around">
            <div class="col">
              <p>Capital : {{ country[2].capital}}</p>
              <p>Area: {{ country[2].area }} km &sup2;</p>
            </div>
            <div class="col">
              <p><q-icon name="people"/> {{country[2].population}}</p>
              <p>Currencies: {{ country[2].currencies[0].name }}</p>
            </div>
          </div>
          <div id='map2'></div>
        </q-card-main>
      </q-card>
    </div>
  </q-carousel>

</q-pull-to-refresh>
</template>

<script>
import CountryList from '../statics/utils/countries.json';
import mapboxgl from 'mapbox-gl'
import Event from 'main.js'
require('../../node_modules/mapbox-gl/dist/mapbox-gl.css');

export default {
   name: 'home',

  created(){
   for (var i=0; i<3; i++){
      var rnd = Math.floor((Math.random() * 250-1) + 1);
      this.country[i] = CountryList[rnd];
    }
    console.log(this.country)
   
  },
  mounted() {
    this.createMap();
     document.getElementsByClassName('layout-page')[0].style.backgroundImage = `url(${this.country[0].flag})`;
  },
  beforeDestroy() {
     document.getElementsByClassName('layout-page')[0].style.backgroundImage = "";
  },
  methods: {
    changeBackground (index, direction) {
      document.getElementsByClassName('layout-page')[0].style.backgroundImage = `url(${this.country[index].flag})`;
    console.log(`Sliding to slide ${ index } using direction ${ direction }`)
  },
     refresher (done) {
    this.initiateList()

    done()
    },
    initiateList(){
      var obj=[]
       for (var i=0; i<3; i++){
      var rnd = Math.floor((Math.random() * 250-1) + 1);
      this.country.splice(i, 1, CountryList[rnd])
    
      obj.push(this.country[i].latlng.reverse())
     this.$emit('initialise', obj)
    }

    console.log(this.country)

    },
   createMap() {
      mapboxgl.accessToken = 'pk.eyJ1IjoiZ2VyYWxkbTE2MTQiLCJhIjoiY2pkcGNydnJnMWpuYjJ4bDdxbnFpd3pucCJ9.Sl18ZWv0P-QSrEpPTccIrg'
      this.$on('initialise', function(obj) {
        this.map0.setCenter(obj[0]);
        this.map1.setCenter(obj[1]);
        this.map2.setCenter(obj[2]);
      })
      // init the map
      if(this.country[0].latlng !==[]){
        this.map0 = new mapboxgl.Map({
          container: 'map0',
          style: 'mapbox://styles/mapbox/dark-v9',
          minzoom: 1.3,
          center: this.country[0].latlng.reverse(), 
          zoom: 3
        });
      }

      if(this.country[1].latlng !==[]){
        this.map1 = new mapboxgl.Map({
        container: 'map1',
        style: 'mapbox://styles/mapbox/dark-v9',
        minzoom: 1.3,
        center: this.country[1].latlng.reverse(), 
        zoom: 3
      })

      }
      if(this.country[2].latlng !==[]){
        this.map2 = new mapboxgl.Map({
        container: 'map2',
        style: 'mapbox://styles/mapbox/dark-v9',
        minzoom: 1.3,
        center: this.country[2].latlng.reverse(), 
        zoom: 3
      })
      }

    }

  },
 data() {
   return {
     CountryList,
     country:[],

   }
 },
  
}
</script>

<style lang="stylus">
@import '~variables'
  .template
    font-size 80%

.q-carousel-inner
  width device-width - 300px

.q-carousel-track > div, .q-carousel-track.with-toolbar > div
  padding 5% 
  
.q-carousel-dots
  background-color white

.layout-page-container
  padding-bottom 0px !important

.q-card
  width 95%
  padding 1%
canvas
  position relative !important

img 
  width 160px

</style>
