<template>
  <q-layout ref="layout" view="hHr LpR lFf" >
  <!-- Header -->
  <q-toolbar slot="header">
    <q-btn flat @click="$refs.layout.toggleLeft()">
      <q-icon name="menu" />
    </q-btn>
    <q-toolbar-title>
      Quizz Geography
      <span slot="subtitle">Test your knowledge</span>
    </q-toolbar-title>
   
  </q-toolbar>

  <!-- Left Side Panel -->
  <div slot="left">
    <q-list no-border highlight link inset-separator>
      <q-list-header>Quizzes</q-list-header>
      <q-side-link item to="/home">
        <q-item-side icon="school" />
        <q-item-main label="Home" sublabel="Geo facts" />
      </q-side-link>
      <q-side-link item to="/neighbourquizz">
        <q-item-side icon="public" />
        <q-item-main label="Neighbors" sublabel="Guess countries neighbors" />
      </q-side-link>
      <q-side-link item to="/populationRank">
        <q-item-side icon="people" />
        <q-item-main label="Population Rank" sublabel="Sort countries by population" />
      </q-side-link>
    </q-list>
  </div>
  <!-- sub-routes get injected here: -->
  <router-view />
  <!-- Footer -->
  <q-toolbar slot="footer">
    <p class="text-italic light-paragraph">www.gegeraptor.com - 2018</p>
  </q-toolbar>
</q-layout>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus">
@import '~variables'


</style>