<template>
<div class="container">
  <p>{{ showAnswers ? 'Here are the neighbors of the following country' : 'Find the neighbors of the following country'}}</p>
  <p v-show="!showAnswers" >select countries which are neighbors of {{country.name}} by clicking on them. Click 'check answer' when done</p>
  <div class="row items-center justify-center">
    <div class="col-xs-6 col-sm-5 col-md-4">
      <q-item>
        <q-item-side :avatar="country.flag" />
        <q-item-main>
          <q-item-tile>{{ country.name }}</q-item-tile>
        </q-item-main>
    </q-item>
    </div>
    <div class="col-xs-6 col-sm-5 col-md-4">
      <q-btn v-if="showAnswers" class="answerBtn" small @click="selectRandom"> 
         Try with new country
      </q-btn>
      <q-btn  v-else class="answerBtn" small  @click="checkAnswer"> 
        <q-icon color="amber" name="lightbulb_outline" /> Check answer
      </q-btn>
      
    </div>
  </div>
 

  <div v-if="!suggestedIsVisible" ><q-spinner/></div>

  <div class="row justify-center">
    <q-transition 
      appear
      enter="flipInX"
      leave="flipOutX"
      mode="out-in"
       >
      <div v-if="showAnswers" id="answers" class="col-xs-12 col-sm-10 col-md-8 round-borders shadow-5">
        <q-list>
          <q-item v-for="neighborers in borders" :key="neighborers.a3Code">
             <q-item-main>
               <q-item-tile class=" ellipsis">
                {{neighborers.name}}
               </q-item-tile>
             </q-item-main>
            </q-item>
         
         
        </q-list>
      </div>
      <div v-else id="suggestions" class="col-xs-12 col-sm-10 col-md-8 round-borders shadow-5" :style="{ 'background-image': `url(${country.flag})`, 'background-size': '100%' }">
        <div class="row inline" v-for="suggestedCountry in list" :key="suggestedCountry.a3Code">
          <q-btn class=" ellipsis" :id="suggestedCountry.a3Code" @click="clickAnswer" small >{{ suggestedCountry.name }}</q-btn>
        </div>
      </div>
    </q-transition>
  </div>
</div>
</template>

<script>
import CountryList from '../statics/utils/countries.json'
import { Alert } from 'quasar'
import 'quasar-extras/animate/bounceInRight.css'
import 'quasar-extras/animate/bounceOutRight.css'
import 'quasar-extras/animate/flipInX.css'
import 'quasar-extras/animate/flipOutX.css'


export default {
  name: 'neighbourquizz',

  created(){
    this.selectRandom();
  },
 data() {
   return {
     CountryList,
     country:{},
     list:[],
     borders:[],
     answers:[],
     suggestedIsVisible: false,
     showAnswers:false
   }
 },
 methods: {
   clickAnswer(event) {
     console.log(event)
     var cible;
     if(event.target.classList.contains('q-btn')) {
       cible = event.target
     } else {
       cible = event.target.parentElement;
     }
     if (!cible.getAttribute('color')) {
      cible.classList.add('q-btn-outline', 'text-primary');
      cible.setAttribute('color','primary');
      this.clicked=true;
      this.answers.push(cible.id);
     } else {
      cible.classList.remove('q-btn-outline', 'text-primary');
      cible.removeAttribute('color');
      this.clicked=false;
      this.answers.splice(this.answers.findIndex(x => x=== cible.id), 1)
     }
      console.log(this.answers)
   },
   selectRandom() {
     const that = this;
     this.borders=[];
     this.showAnswers=false;
     this.list=[];
     this.answers=[];
    var rnd = Math.floor((Math.random() * 250-1) + 1);
     this.country = CountryList[rnd];

     if(CountryList[rnd].borders.length === 0) {
       this.borders.push("Non")
     } else {
      this.borders =[...CountryList[rnd].borders];
     }
     
     this.list = [...CountryList[rnd].borders];
    
     console.log(this.country)
     console.log(this.list)
     var region = CountryList[rnd].region;
    this.$http.get('https://restcountries.eu/rest/v2/region/'+region)
      .then(function (response) {
         var max = response.data.length-1;
          var i=0;
         while (i < 10) {
          var rnd2 = Math.floor((Math.random() * max) + 1);

          var toto = that.list.find(x => x === response.data[rnd2].alpha3Code)
          if(toto === undefined && response.data[rnd2].alpha3Code !== that.country.alpha3Code) {
            that.list.push(response.data[rnd2].alpha3Code);
            i++
          } 
         }
      })
      .then(function() {
        that.list.sort();
        console.log(that.list)
        for (var j=0; j<=that.list.length-1; j++) {
          that.list.splice(j, 1, {'a3Code':that.list[j], 'name':that.getCountryDataByAlphaCode(that.list[j])})
        }
        that.list.unshift({'a3Code':'Non', 'name':'None'})
        that.suggestedIsVisible = true;
      })
      .catch(function (error) {
        console.log(error);
      });
   },
   getCountryDataByAlphaCode: function(a3Code){
    return this.CountryList.find(x => x.alpha3Code === a3Code).name
   },
   checkAnswer() {
    const that = this;
     let bord = new Set(this.borders);
     console.log(bord)
     let ans = new Set (this.answers);
     let union = new Set([...bord, ...ans]);
     let difference = new Set([...bord].filter(x => !ans.has(x)));
     if (union.size === bord.size && difference.size === 0) {
      const alertPos = Alert.create({
        enter: 'bounceInRight',
        leave: 'bounceOutRight',
        color: 'secondary',
        icon: 'mood',
        html: `Good Answer, Congratulation`,
        position: 'top-right',
        actions: [
          {
            label: 'Play again ',
            handler () {
              that.selectRandom();
            }
          },
          {
            label: 'Finished',
            handler () {

            }
          }
        ]
      })
     } else {
      const alertNeg = Alert.create({
        enter: 'bounceInRight',
        leave: 'bounceOutRight',
        color: 'warning',
        icon: 'sentiment_neutral',
        html: `Not exactly`,
        position: 'top-right',
        actions: [
          {
            label: 'Try again',
            handler () {

            }
          },
          {
            label: 'Show answers',
            handler () {
              console.log(that.borders)
               if (that.borders.length >1) {
               for (var j=0; j<that.borders.length; j++) {
                  that.borders.splice(j, 1, {'a3Code':that.borders[j], 'name':that.getCountryDataByAlphaCode(that.borders[j]) ? that.getCountryDataByAlphaCode(that.borders[j]) : 'None'})
                } 
                } else {
                  that.borders.splice(0, 1, {'a3Code':'Non', 'name':'None'})
                }

              that.showAnswers=true;
            }
          }
        ]
      });
       setTimeout(alertNeg.dismiss, 5000);
   
     }

   }
 }
}
</script>

<style lang="stylus">
@import '~variables'
.container
  padding 10px

.answerBtn
  padding 5px

.row.inline
  margin 5px
  
#suggestions 
  span 
    filter: invert(1)
    mix-blend-mode difference 
</style>
