<template>
<div class="container">
  <q-resize-observable @resize="onResize" />
  <p>{{ showAnswers ? 'Countries ranked by population' : 'Which countries have biggest population ?'}}</p>
    <p>Drag and drop countries to change their order. (Biggest population on top) Click 'check answers' when done</p>

  <div class="row items-center justify-center">

    <div class="col-xs-6 col-sm-5 col-md-4">
      <q-btn v-if="showAnswers" class="answerBtn" small @click="selectRandom"> Play Again
      </q-btn>
      <q-btn  v-else class="answerBtn" small  @click="checkAnswer"> 
        <q-icon color="amber" name="lightbulb_outline" /> Check answers
      </q-btn>

    </div>
    <div v-show="showAnswers" class="round-borders shadow-2 text-white animate-blink" id="result1">{{result}}</div>
  </div>

  <div class="row justify-start no-scroll">
    <div class="col-1 round-borders shadow-5">
      <q-list>
        <q-item class="rank" v-for="rank in 5" :key="rank">
          <q-item-main>{{rank}}</q-item-main> 
        </q-item>

      </q-list>
    </div>
    <div class="col-md-4 col-xs-9 round-borders shadow-5">
      <q-list highlight id="proposedCountries">
        <q-item v-for="(country, index) in list" :countryKey=index :key="country.alpha3Code" >
          <q-item-side :avatar="country.flag" />
          <q-item-main>
            <q-item-tile class="ellipsis">{{country.name}}</q-item-tile>
          </q-item-main> 
        </q-item>

      </q-list>
    </div>
    <q-transition 
      appear
      enter="fadeInUp"
      leave="fadeOutUp"
      mode="out-in"
      >
      <div v-if="showAnswers" class="col-md-5 col-xs-10 round-borders shadow-5" key="answers">
        <rank-chart :chartData="datacollection" :smallDevice="screenSize < 768 ? true : false" :height="310">
        </rank-chart>
      </div>
    </q-transition>
  </div>
</div>

</template>
<script>

import CountryList from '../statics/utils/countries.json'
import rankChart from './rankChart'
import Dragula from 'dragula/dragula'
import 'quasar-extras/animate/fadeInUp.css'
import 'quasar-extras/animate/fadeOutUp.css'


  export default {
    name: 'populationRank',
    components: { rankChart },
  created(){
    this.selectRandom();
  },
  mounted () {
      document.getElementsByClassName('layout-page')[0].style.backgroundImage = "url(../statics/map_compass_travel-948956.jpg)";
      this.dragula = Dragula([document.getElementById('proposedCountries')], {
        copy: false,
        copySortSource: true
        })
        
    },
  beforeDestroy() {
      document.getElementsByClassName('layout-page')[0].style.backgroundImage = "";
  },
 data() {
   return {
     CountryList,
     list:[],
     answers:[],
     showAnswers:false,
     datacollection: null,
      dragula: '',
      countryKey:{},
      screenSize:'',
      smallDevice:'',
      result:''

   }
 },

    methods: {
      onResize (size) {
        this.screenSize = size.width;
      },
      checkAnswer() {
        var that = this;
        this.screenSize = document.getElementsByClassName('layout-page')[0].clientWidth;
        this.showAnswers=true;
        for(var j=0; j<5; j++) {
          this.answers.push(document.getElementById('proposedCountries').childNodes[j].getAttribute('countrykey'))
        }
        var promise = new Promise(function(resolve) {
          that.datacollection = {
          labels: [that.list[that.answers[0]].name, that.list[that.answers[1]].name, that.list[that.answers[2]].name, that.list[that.answers[3]].name, that.list[that.answers[4]].name],
          datasets: [
            {
              backgroundColor: ['SlateBlue', 'slateGrey', 'SteelBlue', 'Olive', 'OrangeRed'],
              data: [that.list[that.answers[0]].population, that.list[that.answers[1]].population, that.list[that.answers[2]].population, that.list[that.answers[3]].population, that.list[that.answers[4]].population],
            },
          ]
          }
          resolve()
          }
        )
        promise.then( function() {
          let resultDiv = document.getElementById('result1');
          if (that.datacollection.datasets[0].data[0] > that.datacollection.datasets[0].data[1] && that.datacollection.datasets[0].data[1] > that.datacollection.datasets[0].data[2] && that.datacollection.datasets[0].data[2] > that.datacollection.datasets[0].data[3] && that.datacollection.datasets[0].data[3] > that.datacollection.datasets[0].data[4]) {
          resultDiv.style.backgroundColor = 'MediumSeaGreen';
            that.result = 'Yesss'
          } else {
            resultDiv.style.backgroundColor = 'Tomato';
            that.result = 'Not exactly'
          }
   //       document.getElementById('proposedCountries').style.opacity = 0.7;
        }
        ) 
      },

      selectRandom() {
        this.showAnswers=false;
        this.list=[];
        this.answers=[];

          var i=0;
        while (i < 5) {
          var rnd = Math.floor((Math.random() * 250-1) + 1);
          var test = this.list.find(x => x.alpha3Code === CountryList[rnd].alpha3Code)
          if(test === undefined) {
            this.list.push(CountryList[rnd]);
            i++
          } 
         }
         console.log(this.list)
      }
    }
  }
</script>

<style lang="stylus">
@import '~variables'
@import '../../node_modules/dragula/dragula'

.container
  padding 10px
  background-color white
  opacity 0.85

#result1
  padding 5px
  opacity 0.8

.round-borders
  margin 5px
  max-width 320px

.rank
  height 57px
  text-align center
  font-weight bold

.q-btn
  margin 10px

.q-list
  border 0px

</style>