<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <header></header>

    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>

/*
 * Root component
 */
export default {
}
</script>

<style lang="stylus">
@import '~variables'

.layout-page
  padding 5px
main
  text-align center
header
  margin 0
  background-color $primary
</style>
